.message {
  max-width: 520px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(10px);

  text-align: center;
  font-size: 14px;
  color: rgba(29, 30, 55, 0.6);

  box-shadow: 0 12px 24px rgba(29, 30, 55, 0.08);
}
